<template>
  <div>
    <MainHeader/>
    <section id="page-content">
      <div class="container">
        <Post/>
      </div>
    </section>
  </div>
</template>

<script>
import MainHeader from '~/components/MainHeader.vue'

export default {
  components: {
    MainHeader
  }
}
</script>

<style lang="sass">
  @import "./assets/variables.sass"
  @import "./assets/general.sass"

  @import "./assets/media-queries.sass"
</style>
