<template>
  <aside id="sidebar">
    <button class="create-post">Create Post</button>
    <ul id="sidebar-subs">
      <h3>SUBS</h3>
      <li 
        v-for="(board, index) in featuredBoards"
        :key="index" 
        class="sidebar-sub">{{ board }}</li>
    </ul>
  </aside>
</template>

<script>
export default {
  name: 'Sidebar',
  props: {
    featuredBoards: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="sass">
@import "./assets/variables.sass"

#sidebar
  display: none
  background: white
  align-self: flex-start
  box-shadow: $large-shadow
  width: 100%
  padding: 1em
  box-sizing: border-box
  border-radius: $main-radius
  h3
    font-size: 0.8em
    opacity: $low-opacity
  .create-post
    width: 100%
    border: 2px solid $main-blue
    box-sizing: border-box
</style>
