<template>
  <div>
    <MainHeader/>
    <section id="page-content">
      <div class="container">
        <main id="posts">
          <Post
            v-for="post in posts" 
            :key="post.id"
            :title="post.title" 
            :vote-count="post.voteCount" 
            :post-thumbnail="post.postThumbnail" 
            :post-username="post.postUsername" 
            :post-board="post.postBoard"
            :post-time="post.postTime"
            :post-description="post.postDescription" 
            :post-comments="post.postComments"/>
        </main>
        <Sidebar :featured-boards="featuredBoards"/>
      </div>
    </section>
  </div>
</template>

<script>
import MainHeader from '../components/MainHeader.vue'
import Post from '../components/Post.vue'
import Sidebar from '../components/Sidebar.vue'

export default {
  components: {
    MainHeader,
    Post,
    Sidebar
  },
  data() {
    return {
      posts: [
        {
          id: 1,
          title: 'This is a post title',
          voteCount: 65,
          postThumbnail: 'https://via.placeholder.com/100x100',
          postUsername: 'u/anaGa7dFash5',
          postBoard: '/watchPeopleFuckingDie',
          postTime: '3hrs',
          postDescription: 'dhfgkkjfdshkjhgkjfhkjshkjgfsgdskjhgkfsjddhgkj',
          postComments: 5
        },
        {
          id: 2,
          title: 'Hello, this is from the home data',
          voteCount: 35,
          postThumbnail:
            'https://images-na.ssl-images-amazon.com/images/I/61vQEP8pr8L.jpg',
          postUsername: 'u/mr7mada',
          postBoard: '/shopping',
          postTime: '3hrs',
          postDescription:
            'lorem ipsum dolor sit amet. The quick brown fox jumps over the lazy dog',
          postComments: 13
        }
      ],
      featuredBoards: [
        '/moderation',
        '/food',
        '/cars',
        '/computers',
        'travelling',
        '/shopping'
      ]
    }
  }
}
</script>

<style lang="sass">
@import "./assets/variables.sass"
@import "./assets/general.sass"

#page-content
  padding-top: 1em
  .container
    display: grid
    grid-template-columns: 1fr
    grid-column-gap: 1em

@import "./assets/media-queries.sass"
</style>
